main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    /* Split screen into left and right sections */
}

/* Left section for vertical images */
.left {
    width: 75%;
    margin-left: 1%;
    padding: 1%;
    column-count: 5;
    column-gap: 20px;
    /* Increase space between columns */
}

/* Right section for horizontal images */
.right {
    width: 25%;
    margin-right: 1%;
    /* Take half of the screen */
    padding: 1%;
    column-count: 1;
    /* 2 columns for horizontal images */
    /* column-gap: 10px; */
    /* Space between columns */
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .left {
        margin-left: 0%;
        width: 37%;
        column-count: 1;
        padding: 1%;
        column-gap: 2%;
    }

    .right {
        margin-right: 0%;
        width: 63%;
        column-count: 1;
        padding: 1%;
        /* column-gap: 0.5%; */
    }
}

.photo-wall img {
    width: 100%;
    /* Make the image fill the column width */
    height: auto;
    /* Maintain aspect ratio */
    margin-bottom: 15px;
    /* Space between images */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.photo-wall img:hover {
    transform: scale(1.05);
    /* Slight zoom effect on hover */
}

.rotate {
    transform: rotate(90deg);
    /* Rotate by 90 degrees */
    width: 100%;
    /* Ensure the width fills the container */
    height: auto;
    /* Maintain aspect ratio */
}

.hidden {
    visibility: hidden;
}



footer {
    /* background-color: #333; Dark background for the footer */
    color: #ffffff;
    /* White text color */
    text-align: center;
    padding: 20px 0;
    /* Add padding for spacing */
    margin-top: auto;
    /* Push the footer to the bottom */
}

#clustrmaps-widget {
    margin: 0 auto;
    /* Center the widget */
    max-width: 100%;
    /* Ensure it doesn't overflow */
}